<div class="mx-auto p-3 m-2" style="width: 700px;">
  <h1>COOHSEP - Deliberação Coletiva</h1>
  <%= form_with url: session_path, html: { class: "form-signin"}, method: :post do |form| %>
    <div class="mb-3">
      <label for="documento" class="form-label">CPF/CNPJ</label>
      <input name='documento' type="text" class="form-control" id="documento" >
    </div>
    <button type="submit" class="btn btn-primary">ENTRAR</button>
  <% end %>

</div>