<div class="card-columns">
  <% if @enquetes.size.zero? %>
    <div class="card p-3">
      <div class="card-body">
      <h5 class="card-title  text-center">Não há enquetes ativas no momento.</h5>
      </div>
    </div>
  <% end%>
  <% @enquetes.each do |enquete| %>
      <div class="card p-3">
        <div class="card-body">
          <h5 class="card-title  text-center"><%= enquete.nome %></h5>
          <p class="card-text"><%= enquete.descricao.html_safe  %></p>
          <p class="card-text"><small class="text-danger">Finaliza em: <%= I18n.l(enquete.finaliza_em, format: :short_week) %></small></p>
          <a href="/enquetes/<%= enquete.id %>" class="btn btn-primary float-end">Participar</a>
        </div>
      </div>
  <% end%>
</div>